/**
 * The CSS Themes Stylesheets
 * @author [Sam](https://github.com/Samm96)
 */

:root {
  --background-default: #bcaec6; /** will it change? **/

  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #283592;
  --color-pink: #ec1e7b;
  --color-aqua: #1ea6ae;

  --font-size-default: 20px;
  --font-weight-default: 600;
  --font-family-text: "Open Source Sans";

  --rectangle-color: var(--color-pink);

  --dropdown-default-color: var(--color-blue);
  --dropdown-open-color: var(--color-pink);
}

h2 {
  --font-family-header: "League Spartan";
  --font-size-default: 52px;
  --font-weight-default: 700;
}

button {
  --button-default-color: var(--color-pink);
  --button-hover-gradient: radial-gradient(
      56.45% 249.34% at 0% -41%,
      #fff171cc 0%,
      #fff17100 100%
    ),
    radial-gradient(126.73% 516.01% at 20.16% 100%, var(--color-pink) 0%, #ff4e9e80 100%),
    radial-gradient(12.9% 50% at 103.23% 0%, #ff98c6 0%, #ffffff00 100%);
}


/** Instructions [REMOVE WHEN PROJECT DONE]

- In order to use the variables, apply theme as such:

i.e. 

.btn {
    background: var(--button-default-color);
}


- The format is `var( <insert variable here> )`

 **/
