/**
 * The CSS Themes Stylesheets
 * @author [Sam](https://github.com/Samm96)
 */

:root {
  /** COLORS **/
  --primary-background-color: #f5f5f5;
  --secondary-background-color: #bcaec6;
  --default-text-color: #000000;
  --alternate-text-color: #ffff;
  --default-button-color: #ec1e7b;
  --default-component-color: #283592;
  --light-pink: rgba(236, 30, 123, 10%);

  /** FONT SPECIFICS **/
  --primary-font-family: "Open Source Sans";
  --primary-default-font-size: 20px;
  --primary-default-font-weight: 600;

  --secondary-font-family: "League Spartan";
  --secondary-default-font-size: 52px;
  --secondary-default-font-weight: 700;

  /** COMPONENT GRADIENT COLORS (in order) **/
  --component-gradient-linear: rgba(233, 235, 244, 1);
  --component-gradient-one: rgba(40, 53, 146, 0.5);
  --component-gradient-one-A: rgba(255, 255, 255, 0);
  --component-gradient-two: rgba(255, 152, 198, 1);
  --component-gradient-two-A: var(--component-gradient-one-A);
  --component-gradient-three: rgba(219, 204, 229, 1);
  --component-gradient-three-A: rgba(255, 255, 255, 1);

  /** COMPONENT GRADIENT **/
  --component-gradient: linear-gradient(
      0deg,
      var(--component-gradient-linear) 100%,
      var(--component-gradient-linear) 100%
    ),
    radial-gradient(
      110.58% 110.58% at 40.19% 148.08%,
      var(--component-gradient-one) 0%,
      var(--component-gradient-one-A) 100%
    ),
    radial-gradient(
      141.03% 3248.2% at 71.91% -110.26%,
      var(--component-gradient-two) 0%,
      var(--component-gradient-two-A) 100%
    ),
    radial-gradient(
      93.91% 3215.11% at 1.53% 100%,
      var(--component-gradient-three) 100%,
      var(--component-gradient-three-A) 100%
    );

  /** BUTTON GRADIENT COLORS (in order) **/
  --button-gradient-one: rgba(255, 241, 113, 0.8);
  --button-gradient-one-A: rgba(255, 241, 113, 0);
  --button-gradient-two: var(--default-button-color);
  --button-gradient-two-A: rgba(255, 78, 158, 0.5);
  --button-gradient-three: var(--component-gradient-two);
  --button-gradient-three-A: var(--component-gradient-two-A);

  /** BUTTON GRADIENT (may need to be changed when animating) **/
  --button-hover-gradient: radial-gradient(
      56.45% 249.34% at 0% -41%,
      var(--button-gradient-one) 0%,
      var(--button-gradient-one-A) 100%
    ),
    radial-gradient(
      126.73% 516.01% at 20.16% 100%,
      var(--button-gradient-two) 0%,
      var(--button-gradient-two-A) 100%
    ),
    radial-gradient(
      12.9% 50% at 103.23% 0%,
      var(--button-gradient-three) 0%,
      var(--button-gradient-three-A) 100%
    );

  /** TEXT GRADIENT COLORS (in order) **/
  --text-gradient-linear: rgba(255, 252, 170, 0.2);
  --text-gradient-one: var(--component-gradient-one);
  --text-gradient-one-A: var(--component-gradient-two-A);
  --text-gradient-two: var(--component-gradient-two);
  --text-gradient-two-A: var(--component-gradient-one-A);
  --text-gradient-three: var(--component-gradient-three);
  --text-gradient-three-A: var(--component-gradient-two-A);

  /** TEXT GRADIENT **/
  --text-gradient: linear-gradient(
      0deg,
      var(--text-gradient-linear) 100%,
      var(--text-gradient-linear) 100%
    ),
    radial-gradient(
      110.58% 110.58% at 40.19% 148.08%,
      var(--text-gradient-one) 0%,
      var(--text-gradient-one-A) 100%
    ),
    radial-gradient(
      141.03% 3248.2% at 71.91% -110.26%,
      var(--text-gradient-two) 0%,
      var(--text-gradient-two-A) 100%
    ),
    radial-gradient(
      93.91% 3215.11% at 1.53% 100%,
      var(--text-gradient-three) 100%,
      var(--text-gradient-three-A) 100%
    );
}
